<!doctype html>
<html>
<head>
    <title>{{ msg|default('example page') }}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
{{ nav.top.render(id='top-navbar') }}
<h1>{{ msg|default('Welcome') }}</h1>
<script src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>